<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farol do Investimento</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="hero is-fullheight" id="app">

        <head class="hero-head">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a class="navbar-item" href="./index.html">
                        <img src="./img/farol_do_investimento_logo.png" alt="Logo" />
                    </a>
                    <a class="navbar-item link" href="./index.html">Farol do Investimento</a>
                </div>
                <div class="navbar-menu mx-5">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <button class="button is-warning is-light is-outlined">
                                <span class="icon">
                                    <i class="fas fa-envelope" aria-hidden="true"></i>
                                </span>
                                <span>Contato</span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </head>

        <main class="hero-body has-background-light">

            <div class="container is-max-widescreen">

                <section class="section has-text-centered">

                    <figure class="image is-128x128 has-image-centered">
                        <img src="./img/farol_do_investimento_logo.png" alt="Logo Farol do Investimento" width="432px">
                    </figure>

                    <h1 class="title">Farol do Investimento</h1>
                    <h2 class="subtitle">
                        Seu guia de investimentos.
                    </h2>

                </section>

                <section class="section is-size-5">

                    <div class="content box has-background-white-bis py-6">

                        <h3 class="has-text-centered" id="rendafixa">
                            O que é Renda Fixa?
                            <a href="#rendafixa" class="link is-size-6 has-text-grey">
                                <span class="icon">
                                    <i class="fas fa-link" aria-hidden="true"></i>
                                </span>
                            </a>
                        </h3>

                        <blockquote class="has-background-link-light">
                            Investimento em renda fixa é uma categoria de investimento em que o rendimento é
                            <strong>fixado por
                                algum indexador</strong> e a rentabilidade pode ser previsível enquanto o dinheiro está
                            aplicado. O
                            investidor “empresta” o dinheiro para alguém - que, nesse caso, pode ser o governo, bancos
                            ou
                            outras empresas -, e, no futuro, recebe esse valor de volta, acrescido de juros.
                        </blockquote>

                    </div>

                    <div class="content box has-background-white-bis p-6">

                        <h3 class="has-text-centered" id="tiposrendafixa">
                            Tipos de investimento em Renda Fixa
                            <a href="#tiposrendafixa" class="link is-size-6 has-text-grey">
                                <span class="icon">
                                    <i class="fas fa-link" aria-hidden="true"></i>
                                </span>
                            </a>
                        </h3>

                        <p>
                            Existem vários tipos de investimentos em renda fixa, como <strong> Tesouro Direto (títulos
                                do
                                governo),
                                CDBs e RDBs (títulos de bancos), Debêntures e Notas Promissórias (títulos de empresas),
                                LCIs
                                e
                                LCAs (títulos de bancos)</strong>, entre outros.
                        </p>

                    </div>

                    <div class="content box has-background-white-bis p-6">

                        <h3 class="has-text-centered" id="riscosrendafixa">
                            Existe algum risco investir na Renda Fixa?
                            <a href="#riscosrendafixa" class="link is-size-6 has-text-grey">
                                <span class="icon">
                                    <i class="fas fa-link" aria-hidden="true"></i>
                                </span>
                            </a>                            
                        </h3>

                        <p>
                            Este tipo de investimento é conhecido por possuir <strong>menores riscos
                                associados</strong>,
                            quando comparados
                            aos de renda variável (investimentos da bolsa, por exemplo...). No entanto, é importante
                            notar
                            que a rentabilidade da renda fixa pode
                            variar de acordo com as condições do mercado e do emissor do título.
                        </p>

                    </div>

                    <div class="content box has-background-white-bis p-6">

                        <h3 class="has-text-centered" id="indicesvariamrendafixa">
                            Os índices da renda fixa variam ao longo dotempo?
                            <a href="#indicesvariamrendafixa" class="link is-size-6 has-text-grey">
                                <span class="icon">
                                    <i class="fas fa-link" aria-hidden="true"></i>
                                </span>
                            </a>                                   
                        </h3>

                        <p>
                            <strong>Os índices da renda fixa podem variar ao longo do prazo do investimento</strong>, o
                            que
                            pode
                            impactar no rendimento ao final.
                        </p>

                        <p>
                            Um rendimento pós-fixado, onde aplica-se um percentual
                            sobre um
                            determinado índice - geralmente CDI/SELIC -
                            está mais exposto a essas variações, visto que o índice pode ir sofrendo variações durante o
                            período e o rendimento acompanha; já em um rendimento pré-fixado,
                            onde a taxa é definida no momento da aplicação, isso não vai ocorrer, pois permenecerá a
                            mesma
                            durante o período.                            
                        </p>

                    </div>

                    <div class="content box has-background-white-bis p-6">

                        <h3 class="has-text-centered" id="impostorendafixa">
                            Preciso pagar imposto sobre o rendimento?
                            <a href="#impostorendafixa" class="link is-size-6 has-text-grey">
                                <span class="icon">
                                    <i class="fas fa-link" aria-hidden="true"></i>
                                </span>
                            </a>                                    
                        </h3>

                        <p>
                            A depender do tipo de investimento de renda fixa, o governo cobra Imposto de Renda sobre o
                            rendimento seguindo uma tabela regressiva, onde o percentual do imposto
                            diminui de acordo com o prazo.
                        </p>

                        <p>
                            <strong>A tabela regressiva do Imposto de Renda em aplicações de renda fixa varia entre
                                22,5% e
                                15% </strong>, e
                            também incide apenas sobre o rendimento. As faixas de tributação para a tabela regressiva do
                            Imposto de Renda são:
                        </p>

                        <ul>
                            <li>
                                Até 180 dias: 22,5%
                            </li>
                            <li>
                                De 181 a 360 dias: 20%
                            </li>
                            <li>
                                De 361 a 720 dias: 17,5%
                            </li>
                            <li>
                                A partir de 721 dias: 15%
                            </li>
                        </ul>

                        <p>
                            Dessa forma, os investimentos em renda fixa de longo prazo e tributados pelo IR se tornam
                            mais
                            atrativos do que os resgatados no curto prazo.
                        </p>

                    </div>

                    <div class="content box has-background-white-bis p-6">

                        <h3 class="has-text-centered" id="investimentostributadosrendafixa">
                            Quais investimentos de renda fixa são tributados e quais são isentos?
                            <a href="#investimentostributadosrendafixa" class="link is-size-6 has-text-grey">
                                <span class="icon">
                                    <i class="fas fa-link" aria-hidden="true"></i>
                                </span>
                            </a>                                         
                        </h3>

                        <p>
                            Existem vários tipos de investimentos em renda fixa que são tributados pelo Imposto de Renda
                            (IR), como <strong>Tesouro Direto (títulos do governo), CDBs e RDBs (títulos de bancos),
                                Debêntures e
                                Notas Promissórias (títulos de empresas) </strong>, entre outros. Conforme vimos, a
                            tributação desses investimentos segue
                            a tabela regressiva do IR, que varia entre 22,5% e 15%, e incide apenas sobre o rendimento.
                        </p>

                        <p>
                            No entanto, também existem alguns investimentos em renda fixa que são isentos de Imposto de
                            Renda, como a <strong>poupança, as Letras de Crédito Imobiliário (LCI), as Letras de Crédito
                                do
                                Agronegócio (LCA) e as Debêntures incentivadas</strong>.
                        </p>

                        <p>
                            É importante notar que, mesmo nos investimentos isentos de IR, os rendimentos devem ser
                            declarados na Declaração Anual de Imposto de Renda.
                        </p>

                    </div>

                </section>

                <!-- Header índices -->
                <section class="section has-text-centered">
                    <h1 class="title is-size-4" id="indicesrendafixa">
                        Índices da renda fixa
                        <a href="#indicesrendafixa" class="link is-size-6 has-text-grey">
                            <span class="icon">
                                <i class="fas fa-link" aria-hidden="true"></i>
                            </span>
                        </a>                              
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Estes índices são usados como indexadores do rendimento das aplicações na Renda Fixa
                    </h2>
                </section>

                <!-- Índices -->
                <lista-indices></lista-indices>

                <!-- Header simulador -->
                <section class="section has-text-centered">
                    <h1 class="title" id="simuladorrendafixa">
                        Simulador de rendimento
                        <a href="#simuladorrendafixa" class="link is-size-6 has-text-grey">
                            <span class="icon">
                                <i class="fas fa-link" aria-hidden="true"></i>
                            </span>
                        </a>                                  
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Simule e compare quanto rende seu dinheiro aplicado na Renda Fixa
                    </h2>
                </section>

                <!-- Tabela com as simulações -->
                <tabela-simulacoes v-if="!indicesStore.isErrored && !indicesStore.isLoading"></tabela-simulacoes>

                <!-- Calculadora de renda fixa -->
                <calculadora-renda-fixa
                    v-if="!indicesStore.isErrored && !indicesStore.isLoading"></calculadora-renda-fixa>
            </div>
        </main>
    </div>
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/vue-demi"></script>
    <script src="https://unpkg.com/pinia@2"></script>

    <script type="module" src="./apps/simuladorRendaFixa.js"></script>
</body>

</html>