@import 'bulma';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@200&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(to right, #2e679f, #a2b0d5);         */
    /* background-color: aqua; */
}

/* .table {
    text-align: center;
    vertical-align: middle;
} */

/* .box {
    background-color: rgba(255, 255, 255, 0.1);
    background-color: lavender;
} */
  
/* .column {
    display: flex;
} */

.rotate {
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.content.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* used this for multiple child */
    align-items: center; /* if an only child */
}

.has-text-bright-pink {
    color: #ea526f;
}

.has-background-purple-light {
    background-color: rgb(158, 108, 158);
}

.has-text-purple-light {
    color: rgb(158, 108, 158);
}

.has-background-purple-extra-light {
    background-color: rgb(186, 126, 186);
}

.has-background-bright-pink {
    background-color: #ea526f;
}

.has-text-pacific-cyan {
    color: #23b5d3;
}

.has-background-pacific-cyan {
    background-color: #23b5d3;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}  